{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-3">
        <b>Recycling Bin Colors</b>
        <hr />
        <p>Recycling bins are essential components of modern waste management systems, designed to streamline the
          process of sorting and disposing of recyclable materials. Their primary purpose is to facilitate the
          separation of waste into categories that can be processed and repurposed, reducing the overall burden on
          landfills and minimizing environmental impact. By using designated bins for different types of waste,
          communities can significantly enhance the efficiency of recycling programs and contribute to a more
          sustainable future.</p>

        <p>The color-coded system for recycling bins helps individuals easily identify and sort various types of waste.
          Commonly used colors such as green, white, and black are associated with specific categories: organic waste,
          certain plastics, and general waste, respectively. This system simplifies the recycling process by guiding
          users on where to place items like food scraps, plastic bottles, and non-recyclable materials. Adhering to
          these color-coded guidelines ensures that waste is correctly processed and reduces contamination in recycling
          streams.</p>

        <p>Proper use of recycling bins not only supports environmental conservation but also promotes public awareness
          about waste management. When people understand and follow recycling practices, they contribute to reducing
          pollution, conserving natural resources, and fostering a circular economy. By embracing these practices and
          educating others, communities can collectively work towards a cleaner, greener planet.</p>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-3 text-center">
        <img class="img-fluid img-maxh350" src="{% static 'images/learn/sec-3.png' %}" />
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-3">
        <b>Black Bin</b>
        <hr />
        <p><strong>Purpose:</strong> General Waste (sometimes used for landfill waste)</p>
        <ul>
          <li>Mixed waste that doesn’t fit into other categories <strong>(Saves 0 kg CO2 per unit)</strong></li>
          <li>Non-recyclable packaging <strong>(Saves 0 kg CO2 per unit)</strong></li>
          <li>Used tissues and paper towels <strong>(Saves 0 kg CO2 per unit)</strong></li>
          <li>Certain food packaging (chip bags, candy wrappers) <strong>(Saves 0 kg CO2 per unit)</strong></li>
          <li>Broken household items (non-recyclable) <strong>(Saves 0 kg CO2 per unit)</strong></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-3 text-center">
        <img class="img-fluid img-maxh350" src="{% static 'images/learn/black.png' %}" />
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-3">
        <b>White Bin</b>
        <hr />
        <p><strong>Purpose:</strong> Specific Plastic Types, Paper, and Cardboard</p>
        <ul>
          <li>PET bottles (soda, water) <strong>(Saves 0.0833 kg CO2 per unit)</strong></li>
          <li>HDPE containers (milk jugs, detergent bottles) <strong>(Saves 0.0833 kg CO2 per unit)</strong></li>
          <li>Newspapers <strong>(Saves 0.0458 kg CO2 per unit)</strong></li>
          <li>Magazines <strong>(Saves 0.0458 kg CO2 per unit)</strong></li>
          <li>Office paper <strong>(Saves 0.0458 kg CO2 per unit)</strong></li>
          <li>Cardboard boxes <strong>(Saves 0.0458 kg CO2 per unit)</strong></li>
          <li>Paper packaging <strong>(Saves 0.0458 kg CO2 per unit)</strong></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-3 text-center">
        <img class="img-fluid img-maxh350" src="{% static 'images/learn/white.png' %}" />
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-3">
        <b>Green Bin</b>
        <hr />
        <p><strong>Purpose:</strong> Organic Waste</p>
        <ul>
          <li>Food scraps (vegetables, fruit peels) <strong>(Saves 0.091 kg CO2 per unit)</strong></li>
          <li>Coffee grounds <strong>(Saves 0.091 kg CO2 per unit)</strong></li>
          <li>Eggshells <strong>(Saves 0.091 kg CO2 per unit)</strong></li>
          <li>Yard waste (leaves, grass clippings) <strong>(Saves 0.091 kg CO2 per unit)</strong></li>
          <li>Compostable food packaging <strong>(Saves 0.091 kg CO2 per unit)</strong></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-3 text-center">
        <img class="img-fluid img-maxh350" src="{% static 'images/learn/green.png' %}" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}