{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-12 mx-auto mb-3">
        <b>Most Used Recycling Symbols</b>
        <hr />
        <h2>1. The Recycling Triangle</h2>
        <p>
          <div class="row">
            <div class="col-8 mx-auto mb-3">
              The most recognizable
              recycling symbol, featuring three arrows forming a triangle. It indicates that the item is recyclable and can
              be processed to create new products. This symbol is often seen on containers and packaging.
            </div>
            <div class="col-2 mx-auto mb-3 text-center">
              <img src="{% static 'images/learn/l3/0.png' %}" height="100px" alt="Recycling Triangle">
            </div>
          </div>
        </p>

        <hr />
        <h2>2. Plastic #1 (PET or PETE)</h2>
        <p>
          <div class="row">
            <div class="col-8 mx-auto mb-3">
              Represented by a triangle with the number 1
              inside it. This symbol is used for polyethylene terephthalate (PET), commonly found in water bottles and food
              containers. It is widely accepted in recycling programs.
            </div>
            <div class="col-2 mx-auto mb-3 text-center">
              <img src="{% static 'images/learn/l3/1.png' %}" height="100px" alt="Recycling Triangle">
            </div>
          </div>
        </p>

        <hr />
        <h2>3. Plastic #2 (HDPE)</h2>
        <p>
          <div class="row">
            <div class="col-8 mx-auto mb-3">
              This symbol features a triangle with the
              number 2 inside it, indicating high-density polyethylene (HDPE). Found in items like milk jugs and detergent
              bottles, HDPE is commonly recyclable.
            </div>
            <div class="col-2 mx-auto mb-3 text-center">
              <img src="{% static 'images/learn/l3/2.png' %}" height="100px" alt="Recycling Triangle">
            </div>
          </div>
        </p>

        <hr />
        <h2>4. Plastic #3 (PVC)</h2>
        <p>
          <div class="row">
            <div class="col-8 mx-auto mb-3">
              Represented by a triangle with the number 3
              inside it, this symbol denotes polyvinyl chloride (PVC). Commonly used in pipes and some food packaging, PVC
              is less frequently recycled.
            </div>
            <div class="col-2 mx-auto mb-3 text-center">
              <img src="{% static 'images/learn/l3/3.png' %}" height="100px" alt="Recycling Triangle">
            </div>
          </div>
        </p>

        <hr />
        <h2>5. Plastic #4 (LDPE)</h2>
        <p>
          <div class="row">
            <div class="col-8 mx-auto mb-3">
              This symbol, with the number 4 inside the
              triangle, stands for low-density polyethylene (LDPE). Used in grocery bags and some food wraps, LDPE is not
              always accepted in curbside recycling programs.
            </div>
            <div class="col-2 mx-auto mb-3 text-center">
              <img src="{% static 'images/learn/l3/4.png' %}" height="100px" alt="Recycling Triangle">
            </div>
          </div>
        </p>

        <hr />
        <h2>6. Plastic #5 (PP)</h2>
        <p>
          <div class="row">
            <div class="col-8 mx-auto mb-3">
              Represented by a triangle with the number 5
              inside it, this symbol indicates polypropylene (PP). Found in yogurt containers and straws, PP is widely
              recyclable but not universally accepted.
            </div>
            <div class="col-2 mx-auto mb-3 text-center">
              <img src="{% static 'images/learn/l3/5.png' %}" height="100px" alt="Recycling Triangle">
            </div>
          </div>
        </p>

        <hr />
        <h2>7. Plastic #6 (PS)</h2>
        <p>
          <div class="row">
            <div class="col-8 mx-auto mb-3">
              The triangle with the number 6 inside it
              represents polystyrene (PS). Commonly used in disposable cutlery and foam cups, PS is often not accepted in
              recycling programs due to its low recycling rates.
            </div>
            <div class="col-2 mx-auto mb-3 text-center">
              <img src="{% static 'images/learn/l3/6.png' %}" height="100px" alt="Recycling Triangle">
            </div>
          </div>
        </p>

        <hr />
        <h2>8. Plastic #7 (Other)</h2>
        <p>
          <div class="row">
            <div class="col-8 mx-auto mb-3">
              This symbol, with the number 7 inside it,
              covers other plastics not categorized by the first six types. It includes materials like polycarbonate and
              bioplastics, which are often not widely recyclable.
            </div>
            <div class="col-2 mx-auto mb-3 text-center">
              <img src="{% static 'images/learn/l3/7.png' %}" height="100px" alt="Recycling Triangle">
            </div>
          </div>
        </p>

        <hr />
        <h2>9. Glass</h2>
        <p>
          <div class="row">
            <div class="col-8 mx-auto mb-3">
              Represented by a symbol of a broken
              glass item, or by a person holding a bottle. This indicates that the glass is recyclable. It is usually sorted by color and can be processed
              into new glass containers.
            </div>
            <div class="col-2 mx-auto mb-3 text-center">
              <img src="{% static 'images/learn/l3/glass.png' %}" height="100px" alt="Recycling Triangle">
            </div>
          </div>
        </p>

        <hr />
        <h2>10. Aluminium</h2>
        <p>
          <div class="row">
            <div class="col-8 mx-auto mb-3">
              Typically found on things like tin foil or cans, this indicates that the metal 
              used in the product is made from aluminium and can be recycled.
            </div>
            <div class="col-2 mx-auto mb-3 text-center">
              <img src="{% static 'images/learn/l3/alu.png' %}" height="100px" alt="Recycling Triangle">
            </div>
          </div>
        </p>

        <hr />
        <h2>11. Waste Electronics</h2>
        <p>
          <div class="row">
            <div class="col-8 mx-auto mb-3">
              This symbol explains that you should not place electrical items in your waste bin. 
              Electrical items can be recycled a number of ways including via retailers and at Recycling Centres.
            </div>
            <div class="col-2 mx-auto mb-3 text-center">
              <img src="{% static 'images/learn/l3/electric.png' %}" height="100px" alt="Recycling Triangle">
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}